{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	<div class="ajoutprodtitre">

		<h1>Inscription</h1>
	</div>
	<div class="register">

		<div class="col-4">
        	<div class="container col-4">
        {{ form(form) }}
    </div>
    </div>
    </div>

{% endblock %}
