* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.nav1 {
    display: flex;
    justify-content: space-around;
}
.title {
    display: flex;
    justify-content: center;
}
.ajoutprodtitre {
    display: flex;
    justify-content: center;
}
.imgreg {
    height: 40px;
    width: 40px;
  }