{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Welcome to EasyAdmin 3' %}

{% block main %}
    <style>
        p { max-width: 600px; }
    </style>

    <p>
        <strong>je v faire ma page</strong>
    </p>

    

 
  
{% endblock %}
